@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500&display=swap');
/* font-family: 'Dancing Script', cursive; */
:root{
    --primary-color: #34D399;
    --primary-white: white;
}

html{
    scroll-behavior: smooth;
}

*{
    margin:0;
    padding:0;
    /* font-family: 'PT Serif', serif; */
}

header{
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}

.container-caption{
    text-align: center;
    margin-top: 15rem;
    color:white;
    font-family: 'Dancing Script', cursive;
    font-size: x-large;
    font-weight: 300;
}

.caption-small{
    font-family: 'PT Serif', serif;
    font-style: italic;
    padding-bottom: 1.5rem;
}

.container-caption .header-caption{
    font-family: "Cabin", Arial, Tahoma, sans-serif;
    font-weight: lighter;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    font-size: 1rem;
    padding-bottom: 1rem;;
}

.container-caption .header-para{
    font-family: "Cabin", Arial, Tahoma, sans-serif;
    font-weight: 100;
    font-size: 1rem;
}

/* Links */

.link {
    text-decoration: none;
    padding: 0.5rem 1rem;
   

}

.link-primary {
    background-color: var(--primary-color);
    border-radius: 0.4rem;
    color:var(--primary-white);
    padding: 0.5rem 2rem;

}

.link-secondary {
    color: var(--primary-white);
    border: 3px solid var(--primary-color);
    border-radius: 0.4rem;
    font-size: large;
    padding: 0.5rem 1rem;
    font-family:'PT Serif', serif;
}

.link-secondary:hover{
    background-color: var(--primary-color);
}
/* lists */

.list-non-bullet {
    list-style: none;
}

.list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;
}

/* Navigation */

.navigation {
    /* background-color: var(--primary-color); */
    color: white;
    padding: 2rem;
    /* margin: 1rem;
    border-bottom-left-radius: 1rem; */
}

.navigation .nav-brand {
    font-weight: bold;
    font-size: 1.1rem;
    padding-left: 5rem;
    
}

.navigation .nav-pills {
    text-align: right;
    padding-right: 3rem;
    text-transform: uppercase;
    font-size: small;
    font-family: "Cabin", Arial, Tahoma, sans-serif;
}

.nav-pills a:hover{
    /* font-size:large; */
    font-weight: bolder;
    transition: 0.6s ease;
    color: var(--primary-color);

}

.navigation .link {
    color: white;

}

.navigation .link-active {
    font-weight: bold;
}



.heading{
    padding-bottom: 3rem;
    font-size: xx-large;
    text-align: center;
    text-transform: uppercase;
}



.footer {
    background-color: black;
    padding: 2rem;
    text-align: center;
    color: white;
    border-top-right-radius: 1rem;
}

.footer .footer-header{

    font-size:small ;
}

.footer .link{
    color: white;
}

.footer ul{
    padding-inline-start: 0rem;
}

.icon{
    padding: 2.5rem;
}

.footer-header p{
    padding-bottom: 2em;
}

.social-link .link{ 
    padding: 0rem;
    margin : 0rem;
}
